.img-silder {
    width: 30%
}

textarea {
    width: 100%;
}

p {
    line-break: anywhere;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(max-width:320px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 205px;
        top: -1075px;
        right: -14px;
    }
    .btn {
        margin-bottom: 5px
    }
    .img-control {
        width: 150px;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:321px) and (max-width:349px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 205px;
        top: -1075px;
        right: -14px;
    }
    .btn {
        margin-bottom: 5px
    }
    .img-control {
        width: 150px;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width:350px) and (max-width:383px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 241px;
        top: -1075px;
        right: -14px;
    }
    .btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:384px) and (max-width:434px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 266px;
        top: -1075px;
        right: -14px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:435px) and (max-width:479px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 307px;
        top: -1041px;
        right: -13px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:480px) and (max-width:495px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 293px;
        top: -1016px;
        right: -42px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:496px) and (max-width:510px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 301px;
        top: -981px;
        right: -42px
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:511px) and (max-width:525px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 301px;
        top: -962px;
        right: -42px
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:526px) and (max-width:540px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 301px;
        top: -933px;
        right: -42px
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:541px) and (max-width:567px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 301px;
        top: -869px;
        right: -42px
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:568px) and (max-width:666px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 378px;
        top: -805px;
        right: -27px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:667px) and (max-width:735px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 447px;
        top: -808px;
        right: -37px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:736px) and (max-width:799px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 515px;
        top: -808px;
        right: -37px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:800px) and (max-width:852px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 573px;
        top: -808px;
        right: -37px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
    .btn {
        margin-bottom: 5px
    }
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:853px) and (max-width:950px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 573px;
        top: -808px;
        right: -37px;
    }
    .btn btn-primary {
        margin-bottom: 5px
    }
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:951px) and (max-width:1150px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 573px;
        top: -808px;
        right: -122px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:1151px) and (max-width:1299px) {
    .header {
        overflow: hidden;
    }
    .group-form {
        width: 661px;
        top: -808px;
        right: -122px;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:1300px) {
    textarea {
        margin-top: 0px;
        margin-bottom: 0;
        height: 122px;
        width: 100%;
        resize: vertical;
        direction: rtl;
        margin-bottom: 17px;
    }
    .img-silder {
        width: 30%
    }
    .header {
        overflow: hidden;
    }
}


/*---------------------90%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:1497px) {
    .content-of-setting {
        right: 800px;
    }
    .content-of-about-school {
        left: 337px;
    }
    .group-form {
        right: -249px;
    }
}


/*---------------------80%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:1686px) {
    .content-of-setting {
        right: 966px;
    }
    .content-of-about-school {
        left: 420px;
    }
    .group-form {
        right: -314px;
    }
}


/*---------------------75%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:1798px) {
    .content-of-setting {
        right: 1080px;
    }
    .h2setting {
        left: 411px;
    }
    .content-of-about-school {
        left: 453px;
    }
    .group-form {
        right: -359px;
    }
}


/*---------------------67%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:2023px) {
    .content-of-setting {
        right: 1080px;
    }
    .h2setting {
        left: 611px;
    }
    .content-of-about-school {
        left: 541px;
    }
    .group-form {
        right: -474px;
    }
}


/*---------------------50%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:2697px) {
    .content-of-setting {
        right: 1080px;
    }
    .h2setting {
        left: 611px;
    }
    .content-of-about-school {
        left: 541px;
    }
    .group-form {
        right: -740px;
    }
}


/*---------------------33%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:4046px) {
    .content-of-setting {
        right: 1080px;
    }
    .h2setting {
        left: 611px;
    }
    .content-of-about-school {
        left: 541px;
    }
    .group-form {
        right: -1311px;
    }
}


/*---------------------25%--------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:5395px) {
    .content-of-setting {
        right: 1080px;
    }
    .h2setting {
        left: 611px;
    }
    .content-of-about-school {
        left: 541px;
    }
    .group-form {
        right: -1911px;
    }
}